h1 {
  text-align: center;
}

.sidebar {
  float: right;
  width: 35%;
  background-color: rgba(210,32,231,0.3);
  padding: 20px;
}

.main-image {
  max-width: 50%;
}

/* MIDDLE SECTION */

.more-info {
  background-color: rgba(210,32,231,0.3);
}

.more-info p, .more-info h3 {
  padding: 10px 250px;
}

.image2 {
  padding-top: 30px;
  float: left;
  width: 200px;
  height: auto;
}

/* IMAGE GALLERY */

.gallery {
  margin-top: 10px;
}

.gallery div {
  float: left;
  width: 25%;
  padding: 10px;
  text-align: center;
}

.gallery img {
  height: 100px;
  width: 200px;
}

.credits {
  padding: 20px;
}

.credits a {
  width: 25%;
  text-align: center;

}