h1 {
  text-align: center;
}

.sidebar {
  float: right;
  width: 35%;
  background-color: rgba(210,32,231,0.3);
  padding: 20px;
}

.main-image {
  max-width: 50%;
}

.more-info {
  background-color: rgba(210,32,231,0.3);
}

.more-info p, .more-info h3 {
  padding: 10px 250px;
}

.image2 {
  padding-top: 30px;
  float: left;
  width: 200px;
  height: auto;
}